<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/data/jpa
           https://www.springframework.org/schema/data/jpa/spring-jpa.xsd
           http://www.springframework.org/schema/tx
           https://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enable component scanning for @RestController, etc. -->
    <context:component-scan base-package="com.deliverytouroptimizer"/>

    <jpa:repositories base-package="com.deliverytouroptimizer.repository"/>

    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Transaction Template -->
    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="deliveryMapper" class="com.deliverytouroptimizer.mapper.DeliveryMapper"/>

    <bean id="deliveryService" class="com.deliverytouroptimizer.service.impl.DeliveryServiceImpl">
        <constructor-arg ref="deliveryRepository"/>
        <constructor-arg ref="tourRepository"/>
        <constructor-arg ref="deliveryMapper"/>
        <constructor-arg ref="transactionTemplate"/>
    </bean>

    <bean id="vehicleMapper" class="com.deliverytouroptimizer.mapper.VehicleMapper"/>

    <bean id="tourService" class="com.deliverytouroptimizer.service.impl.VehicleServiceImpl">
        <constructor-arg ref="tourRepository"/>
        <constructor-arg ref="transactionTemplate"/>
    </bean>
</beans>
